@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&family=Teko:wght@300&display=swap');

/*font-family: 'Space Grotesk',
sans-serif;
font-family: 'Teko',
sans-serif;  */

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
  background-color: #7E2553;
}

h1{
  font-family: 'Space Grotesk',sans-serif;
}

.main{
  flex-grow: 1;
}

.footer-color{
  background-color: #1D2B53;
}

.img{
  width: 100px;
  height: 100px;
}