@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&family=Teko:wght@300&display=swap');

/*font-family: 'Space Grotesk',
sans-serif;
font-family: 'Teko',
sans-serif;  */

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
background: #0A1020
}

h1{
  font-family: 'Space Grotesk',sans-serif;
}

.main{
  flex-grow: 1;
}

.footer-color{
  background: #5c1539;
}

.img{
  width: 100px;
  height: 100px;
}

.name{
  font-family: 'Space Grotesk', sans-serif;
}

.fondo-card{
  background: #826a76;
}

.img-list{
  width: 200px;
  height: 250px;
}

.deparment{
  background: #0A1020;
  font-family: 'Space Grotesk', sans-serif;
}
